<ng-container class="" [ngTemplateOutlet]="
            state 
                ? (state === 'X' ? x : o) 
                : (gameService.activePlayer == 'O' ? o : x)">
</ng-container>

<ng-template #x>
    <div class="size-full place-content-center rounded-lg border-4 border-double border-amber-200 drop-shadow-md transition-colors ease-out duration-300 delay-0"
        [ngClass]="{
            'cursor-pointer': !gameService.isGameOver && !state,
            'bg-teal-200': !state && !gameService.isGameOver,
            'bg-amber-300': state && !gameService.isGameOver || gameService.winner === 'X',
            'bg-teal-300': gameService.winner === 'O',
            'hover:bg-amber-300': !gameService.isGameOver && !state,
        }">
        <p class="text-6xl text-center text-amber-600">{{ state }}</p>
    </div>
</ng-template>

<ng-template #o>
    <div class="size-full place-content-center rounded-lg border-4 border-double border-amber-200 drop-shadow-md transition-colors ease-out duration-300 delay-0"
        [ngClass]="{
            'cursor-pointer': !gameService.isGameOver && !state,
            'bg-teal-200': !state && !gameService.isGameOver,
            'bg-teal-300': state && !gameService.isGameOver || gameService.winner === 'O',
            'bg-amber-300': gameService.winner === 'X',
            'hover:bg-teal-300': !gameService.isGameOver && !state,
        }">
        <p class="text-6xl text-center text-teal-600">{{ state }}</p>
    </div>
</ng-template>

